
    <div id='loginForm' class='hidden'>
        <form name='userLoginForm' id='userLoginForm'>
            <h3>Welcome To RBAC System</h3>
            <div>Login Page</div>
            <p>
                <label for='userName'>Username</label>
                <input name='userName' 
                id='userName' size='20'
                autocomplete='username'
                >
            </p>
            <p>
                <label for='password'>Password</label>
                <input name='password' 
                id='password' size=20 type='password' 
                autocomplete='current-password'
                form='userLoginForm'>
            </p>
            <p class='error' id='message'></p>
        </form>
    </div>
