// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginForm {
    display: none;
}

p label {
    width: 75px;
    padding-right: 2px;
}

.content ul {
    list-style: none;
}